* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media (max-width: 991) {
  .trailer-container video {
    max-width: 90%;
  }
}
.image-container {
  border: solid 1px gray;
  background: url(wp11284962-the-dark-knight-iphone-wallpapers.jpg);
  background-size: cover;
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  /* display: none; */
}
img {
  position: absolute;
  width: 100px;
  bottom: 20px;
  right: 50px;
  cursor: pointer;
  animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-20px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

.trailer-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.7s;
}

.trailer-container video {
  position: relative;
  max-width: 900px;
  outline: none;
}

.close-icon {
  position: absolute;
  background-color: white;
  color: #f26415;
  font-size: 40px;
  cursor: pointer;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

.close-icon:hover {
  background-color: grey;
  transition: all 0.3s;
}

/* Javascript */
.active.trailer-container {
  visibility: hidden;
  opacity: 0;
}
